<h2>Quote</h2>

<ul>
  <li>
    <b>First Name: </b>
    <%= firstName %>
  </li>

  <li>
    <b>Last Name: </b>
    <%= lastName %>
  </li>

  <li>
    <b>E-mail: </b>
    <%= email %>
  </li>

  <li>
    <b>Contact Number: </b>
    <%= contactNumber %>
  </li>

  <li>
    <b>Company Name: </b>
    <%= companyName %>
  </li>

  <li>
    <b>Position in Companye: </b>
    <%= positionInCompany %>
  </li>

  <li>
    <b>Company URLe: </b>
    <%= companyUrl %>
  </li>
</ul>

<b>Comment</b>
<p><%= comments %></p>
