<% include _header %>

<main class="main-welcome">
  <div class="welcome">
    <h1 class="text-gray-dark text-center">Welcome to cliizii!</h1>
    <h4 class="text-gray-dark text-center">We're here to help <i class="fa fa-smile-o"></i></h4>
    
    <div id="play-video">
      <div id="video-placeholder">
        <div id="video">
          <div id="player">
            <iframe src='' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="row landing-btn-group">
      <div class="col-md-12 form-group">
        <a class="btn btn-standart btn-full-green btn-large btn-go" href="/">
          Let's Go!
        </a>
      </div>
    </div>

    <div class="thumbnails-container">
        <div class="navigation-arrow">
          <i class="left-arrow glyphicon glyphicon-chevron-left"></i> 
        </div>
        <div id="thumbnails">
          <table>
            <tr>
              <% videos.forEach(function(video, i) {%>
                <td class='thumb-preview'>
                  <img src='<%= video.pictures.sizes[2].link %>' onclick="select('<%=video.uri %>', '<%= i %>')" id="thumb-<%= i %>" />
                  <label><%= video.name %></label>
                </td>
              <% }); %>
            </tr>
          </table>
        </div>
        <div class="navigation-arrow">
            <i class="right-arrow glyphicon glyphicon-chevron-right"></i>
        </div>
    </div>
</main>


<script>
    function select(video, index) {
      var src = 'http://player.vimeo.com' + video.replace("videos", "video"),
          prevThumb = document.getElementsByClassName("active");

      $("#player iframe").attr('src', src);
      $(prevThumb).removeClass("active");
      $("#thumb-" + index).addClass('active');
    }

    function animateScroll(scrollPosition) {
      $("#thumbnails").animate({scrollLeft: scrollPosition}, 100);
    }

    $(".left-arrow").click(function () { 
      animateScroll($('#thumbnails').scrollLeft() - 317);
    });

    $(".right-arrow").click(function () { 
      animateScroll($('#thumbnails').scrollLeft() + 317);
    });

    $("#thumb-0").click();
</script>

<% include ../footer %>
