<% include _header %>

<main class='main-first-page' ng-controller='DashboardCtrl'>
  <div class='container'>
    <% include ../pageBanner %>

    <% include _navTabs %>

    <div class='dashboard-container border-blue box-shadow'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <% include _buttons %>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <div class='row'>
            <div class='dashboard-container'>
              <h2 class="center-block">Upload Banners</h2>
              <div id="signup" class="tab-pane fade in active">
                <span><%= message || error.message %></span>
                <form method='post' action='/dashboard/uploadbanner' enctype='multipart/form-data'>
                  <div class="form-group">
                    <label for="profile">Account profile</label>
                    <span class="has-error"><%= error.profile %></span>
                    <%if(banners.profile) { %>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <img src='../<%= banners.profile %>'>
                      </div>
                      <a href="uploadbanner/profile" class="btn cancel">Remove</a>
                    <% } %>
                    <input type='file' name='profile' class='center-block'/>
                  </div>
                  <div class="form-group">
                    <label for="sessions">Chat sessions</label>
                    <span class="has-error"><%= error.sessions %></span>
                    <%if(banners.sessions) { %>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <img src='../<%= banners.sessions %>'>
                      </div>
                      <a href="uploadbanner/sessions" class="btn cancel">Remove</a>
                    <% } %>
                    <input type='file' name='sessions' class='center-block'/>
                  </div>
                  <div class="form-group">
                    <label for="resources">Resources</label>
                    <span class="has-error"><%= error.resources %></span>
                    <%if(banners.resources) { %>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <img src='../<%= banners.resources %>'>
                      </div>
                      <a href="uploadbanner/resources" class="btn cancel">Remove</a>
                    <% } %>
                    <input type='file' name='resources' class='center-block'/>
                  </div>
                  <div class="check center-block">
                    <input type="submit" value="Save" class="btn login" ></input>
                  </div>
                  <div class="check center-block">
                    <a href="#cancel" class="btn cancel">Cancel</a>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../footer %>
