<% include ../_header %>

<main class='main-first-page' ng-controller='DashboardCtrl'>
  <div class='container'>
    <% include ../../pageBanner %>

    <% include ../_navTabs %>

    <div class='dashboard-container border-blue'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <% include ../_buttons %>
        </div>
        <div class='col-md-3'></div>
        <div class='col-xs-12 col-sm-12 col-md-6'>
          <div class='row'>
            <h2 class='text-center'>Account Managers</h2>
            <h4 class='text-center background-blue'><%= message %></h4>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='row text-center'>
            <!-- <a href='#' class='btn btn-addNewAccountManager' data-toggle='modal' data-target='#addAccountManager'>Add New Account Manager</a> -->
            <a href='accountmanager/manage' class="btn btn-addNewAccountManager">Add New Account Manager</a>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <div class='dashboard-container'>
            <table class='table table-responsive table-accountManager'>
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < users.length; i++) { %>
                  <tr>
                    <td><%= users[i].firstName %></td>
                    <td><%= users[i].lastName %></td>
                    <td><%= users[i].gender %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].mobile %></td>
                    <td><%= users[i].status %></td>
                    <td class='text-right accountManagerEditRemove'>
                      <img src='/icons/accountManager_edit.png' alt='' />
                    <% if(users[i].Invites) { %>
                      <a href='accountmanager/remove/invite/<%= users[i].id %>'><img src='/icons/accountManager_remove.png' alt='' /></a>
                    <% } else if(users[i].Accounts) { %>
                      <a href='accountmanager/remove/account/<%= users[i].id %>'><img src='/icons/accountManager_remove.png' alt='' /></a>
                    <% } %>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<% include ../_addAccountManager %>
<% include ../../footer %>
