<% include ../header %>

<div class="login-container center-block">
  <div class="tab-content border-yellow text-font-family">
    <div id="login" class="tab-pane fade in active">
      <%if(Object.keys(invite).length == 0) { %>
        <h1 class="text-center text-gray-dark">Invite not found</h1>
      <% } else { %>
        <h1 class="text-center text-gray-dark">Invite</h1>
        <%if(invite.userType == "new") { %>
          <h5 class="text-center text-gray-dark">
            You have been invited to join Kliiko, type in password to accept or click decline to refuse.
          </h5>
          <span class="error-column has-error text-center" id="warning-email-password"><%= error.password %></span>
          <form class="non-resubmitable" method="post" action="/invite/<%= invite.token %>/accept" novalidate>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-no-inside-borders text-left text-gray-dark table-v-content-middle">
                    <tr>
                      <td class="form-group">
                        <label class="pull-right" for="password">Password</label>
                      </td>
                      <td class="form-group text-center">
                        <img src="/icons/lock.png" />
                      </td>
                      <td class="form-group">
                        <input type="password" value="" class="form-control center-block border-brown" name="password" id="password" placeholder="Password">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <button type="submit" value="Submit" class="btn submit-btn-size border-yellow text-brown-light background-transp">Accept</button>
              <a href="/invite/<%= invite.token %>/decline" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Decline</a>
            </div>
          </form>
        <% } else { %>
          <h5 class="text-center text-gray-dark">
            You have been invited to join Kliiko, click accept or decline.
          </h5>
          <a href="/invite/<%= invite.token %>/accept" class="btn submit-btn-size border-yellow text-brown-light background-transp">Accept</a>
          <a href="/invite/<%= invite.token %>/decline" class="btn submit-btn-size border-yellow text-brown-light background-transp pull-right">Decline</a>
        <% } %>
      <% } %>
    </div>
  </div>
</div>

<% include ../footer %>
